<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotCities</key>
	<array>
		<dict>
			<key>cityName</key>
			<string>北京市</string>
			<key>cityId</key>
			<string>1001</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>天津市</string>
			<key>cityId</key>
			<string>1002</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>上海</string>
			<key>cityId</key>
			<string>1004</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>深圳</string>
			<key>cityId</key>
			<string>1005</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>重庆</string>
			<key>cityId</key>
			<string>1006</string>
		</dict>
	</array>
	<key>cityList</key>
	<array>
		<dict>
			<key>cityName</key>
			<string>北京市</string>
			<key>cityId</key>
			<string>1001</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>天津市</string>
			<key>cityId</key>
			<string>1002</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>河北</string>
			<key>cityId</key>
			<string>1003</string>
			<key>subCities</key>
			<array>
				<dict>
					<key>cityName</key>
					<string>石家庄</string>
					<key>cityId</key>
					<string>10031</string>
				</dict>
				<dict>
					<key>cityName</key>
					<string>唐山</string>
					<key>cityId</key>
					<string>10032</string>
				</dict>
				<dict>
					<key>cityName</key>
					<string>秦皇岛</string>
					<key>cityId</key>
					<string>10033</string>
				</dict>
				<dict>
					<key>cityName</key>
					<string>张家口</string>
					<key>cityId</key>
					<string>10034</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityName</key>
			<string>上海</string>
			<key>cityId</key>
			<string>1004</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>深圳</string>
			<key>cityId</key>
			<string>1005</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>重庆</string>
			<key>cityId</key>
			<string>1006</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>广州</string>
			<key>cityId</key>
			<string>1007</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>郑州</string>
			<key>cityId</key>
			<string>1008</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>武汉</string>
			<key>cityId</key>
			<string>1009</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>长沙</string>
			<key>cityId</key>
			<string>10010</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>贵阳</string>
			<key>cityId</key>
			<string>10011</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>成都</string>
			<key>cityId</key>
			<string>1002</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>太原</string>
			<key>cityId</key>
			<string>10013</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>昆明</string>
			<key>cityId</key>
			<string>10014</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>杭州</string>
			<key>cityId</key>
			<string>10015</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>桂林</string>
			<key>cityId</key>
			<string>10016</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>大理</string>
			<key>cityId</key>
			<string>10017</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>西安</string>
			<key>cityId</key>
			<string>10018</string>
		</dict>
	</array>
</dict>
</plist>
